<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <link rel="stylesheet" href="/css/style.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serwis Samochodowy TOP-SERVICE</title>
</head>
<body>

<header>
    <h1>Serwis Samochodowy TOP-SERVICE</h1>
    <img src="/images/logo.jpg"  alt="Serwis Samochodowy TOP-SERVICE" >
</header>

<nav>
    <ul>
        <li><a href="/" class="<%= navLocation == 'main' ? 'active' : ''%>">Strona Główna</a></li>
        <li><a href="/repairs" class="<%= navLocation == 'rep' ? 'active' : ''%>">Naprawy</a></li>
        <li><a href="/locations" class="<%= navLocation == 'loc' ? 'active' : ''%>">Warsztaty</a></li>
        <li><a href="/vehicles" class="<%= navLocation == 'veh' ? 'active' : ''%>">Pojazdy</a></li>
        <li><a href="/employees" class="<%= navLocation == 'emp' ? 'active' : ''%>">Pracownicy</a></li>
    </ul>
</nav>